{% extends 'base.html' %}

{% block title %}
    {{ object.name }}
{%  endblock %}

{% block body %}

    {% if user.is_authenticated and user.id == idea.author.id or user.is_staff %}
        <div class="mb-3">
            <a href="{% url 'ideas:update' pk=idea.id %}" class="btn btn-primary">
                Update
            </a>
            <a href="{% url 'ideas:delete' pk=idea.id %}" class="btn btn-danger">
                Delete
            </a>
        </div>
    {% endif %}

<div class="container">
    <div class="row">
        <!-- Первый элемент сетки -->
        <div class="col-10 col-sm-12 col-md-10 col-lg-8 col-xl-6 col-xxl-6">
            <div class="wrapper" style="margin-bottom: -60px; margin-top: -90px; margin-right: -140px;">
                <figure class="cardb">
                    <img src="{{ idea.image.url }}" width="640" height="400" alt="idea_image"/>
                    <figcaption>
                        <h5 style="color: #5e5e5e; font-size: 30px;">{{ idea.title }}</h5>
                        <blockquote style="color: #5e5e5e; font-size: 30px;"></blockquote>
                        <cite></cite>
                        <p class="credit">
                            <strong><a style="font-size: 20px;" href="{% url 'users:profile' pk=idea.author.pk %}">{{ idea.author }}</a></strong>, {{ idea.created_at }}
                        </p>
                    </figcaption>
                </figure>
            </div>

                <div class="like-dislike-container">
                    <a href="{% url 'ideas:add_likes' idea.id %}" class="like-button">
                        <span class="like-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="
                            {% if idea.likes_set.all.count == 0 %}
                                No likes yet
                            {% else %}
                                Liked:
                                {% for like in idea.likes_set.all %}
                                    {{ like.author.username }} ,
                                {% endfor %}
                            {% endif %}
                        ">
                            &#9829;
                            <span class="like-count">{{ idea.likes_set.all.count }}</span>
                        </span>
                    </a>
                    <a href="{% url 'ideas:add_dislikes' idea.id %}" class="dislike-button" data-bs-toggle="tooltip" data-bs-placement="top" title="
                            {% if idea.dislikes_set.all.count == 0 %}
                                No dislikes. Great!
                            {% else %}
                                Disliked:
                                {% for dislike in idea.dislikes_set.all %}
                                    {{ dislike.author.username }} ,
                                {% endfor %}
                            {% endif %}
                        ">
                        <span class="dislike-icon">
                            &#128078;
                            <span class="dislike-count">{{ idea.dislikes_set.all.count }}</span>
                        </span>
                    </a>
                </div>

                <div class="container">
                    <hr>
                    <p>Idea Status:
                        {% if idea.status.status == 'active' %}
                            <span class="badge rounded-pill text-bg-primary">{{ idea.status.status }}</span>
                        {% elif idea.status.status == 'pending' %}
                            <span class="badge rounded-pill text-bg-warning">{{ idea.status.status }}</span>
                        {% elif idea.status.status == 'completed' %}
                            <span class="badge rounded-pill text-bg-success">{{ idea.status.status }}</span>
                        {% else %}
                            <span class="badge rounded-pill text-bg-secondary">No status</span>
                        {% endif %}
                    </p>
                    <hr>

                    <a href="#">Rating</a>
                    <hr>

                    <a href="#">Share</a>
                    <hr>

                    <a href="#">Become co-author</a>
                    <div>
                        <small>Co-Authors:
                            <ul>
                            {% for co_author in idea.coauthor_set.all %}
                                <li>User: {{ co_author.user.username }}</li>
                                <li>Role: {{ co_author.role }}</li>
                                <li>Joined: {{ co_author.joined_at }}</li>
                                <br>
                                <br>
                            {% endfor %}
                            </ul>
                        </small>
                    </div>

                    <hr>

                    <a href="#">Invest to this Idea</a>
                    <div>
                        <small>Investors:
                            <ul>
                            {% for investor in idea.investor_set.all %}
                                <li>User: {{ investor.user.username }}</li>
                                <li>Status: {{ investor.status }}</li>
                                <li>Investment amount: {{ investor.amount_invested }}$</li>
                                <li>Investment Type: {{ investor.investment_type }}</li>
                                <li>Joined: {{ investor.joined_at }}</li>
                                <li>Note: {{ investor.note }}</li>
                            {% endfor %}
                            </ul>
                        </small>
                    </div>
                    <hr>
                </div>

            <div class="mt-4">
                <a href="{% url 'ideas:list' %}">Back to the Idea list</a>
            </div>
        </div>

        <!-- Второй элемент сетки -->
       <div class="col-10 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
            <div class="border p-3">
                {% include "components/comment.html" with idea=idea comments=idea.comments.all %}
            </div>
        </div>
    </div>
</div>

<script>

document.addEventListener('DOMContentLoaded', function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
});

</script>


{% endblock %}


