{% extends 'base.html' %}

{% block title %}
    {{ object.name }}
{%  endblock %}

{% block body %}

    {% if user.is_authenticated and user.id == idea.author.id or user.is_staff %}
        <div class="mb-3">
            <a href="{% url 'ideas:update' pk=idea.id %}" class="btn btn-primary">
                Update
            </a>
            <a href="{% url 'ideas:delete' pk=idea.id %}" class="btn btn-danger">
                Delete
            </a>
        </div>
    {% endif %}

<div class="container">
    <div class="row">
        <!-- Первый элемент сетки -->
        <div class="col-10 col-sm-12 col-md-10 col-lg-8 col-xl-6 col-xxl-6">
            <div class="wrapper" style="margin-bottom: -60px; margin-top: -90px; margin-right: -140px;">
                <figure class="cardb">
                    <img src="{{ idea.image.url }}" width="640" height="400" alt="idea_image"/>
                    <figcaption>
                        <h5 style="color: #5e5e5e; font-size: 30px;">{{ idea.title }}</h5>
                        <blockquote style="color: #5e5e5e; font-size: 30px;"></blockquote>
                        <cite></cite>
                        <p class="credit">
                            <strong><a style="font-size: 20px;" href="{% url 'users:profile' pk=idea.author.pk %}">{{ idea.author }}</a></strong>, {{ idea.created_at }}
                        </p>
                    </figcaption>
                </figure>
            </div>
            <a href="#">Rating</a>
            <a href="#">Share</a>
            <a href="#">Become co-author</a>
            <a href="#">Invest</a>
            <div class="mt-4">
                <a href="{% url 'ideas:list' %}">Back to the Idea list</a>
            </div>
        </div>

        <!-- Второй элемент сетки -->
       <div class="col-10 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
            <div class="border p-3">
                {% include "components/comment.html" with idea=idea comments=idea.comments.all %}
            </div>
        </div>
    </div>
</div>


{% endblock %}