{% extends 'base.html' %}

{% block title %}
    Ideas
{%  endblock %}

{% block body %}
    <h1 class="text-center">Join someone's Idea or Create your own</h1>

        <div class="row row-cols-1 row-cols-md-3 g-5 my-1">
            {% for idea in object_list %}
                <div class="col">
                    <a href="{% url 'ideas:detail' pk=idea.id %}" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="{{ idea.image.url }}" class="card-img-top" alt="{{ idea.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ idea.title }}</h5>
                                <p class="card-text">{{ idea.category }}</p>
                                <p class="card-text">{{ idea.description }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">Last updated {{ idea.updated_at }}</small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

<div class="container">
    {% include "components/back_home.html" %}
</div>

{% endblock %}
