{% extends 'base.html' %}

{% block title %}
    {{ object.name }}
{%  endblock %}

{% block body %}

    {% if user.is_authenticated and user.is_staff %}
        <div class="mb-3">
            <a href="{% url 'category:update' pk=category.id %}" class="btn btn-primary">
                Update
            </a>
            <a href="{% url 'category:delete' pk=category.id %}" class="btn btn-danger">
                Delete
            </a>
        </div>
    {% endif %}

    <div class="card bg-white text-grey" style="width: 800px; height: 600px;">
      <img class="card-img" src='{{ category.image.url }}' alt="Category image" style="position: absolute; bottom: 30px; left: 120px; width: 500px; height: 500px;">
      <div class="card-img-overlay">
          <h2 class="card-title">{{ object.title }}</h2>
          <h5 class="card-text">{{ object.description }}</h5>
          <div id="element" style="position: absolute; bottom: 0; right: 20px;">Last updated {{ object.updated_at }}</div>

      </div>
    </div>

<div class="container" style="margin-top: 30px;">
    <a href="{% url 'category:list' %}">Back to the Category list</a>
</div>


{% endblock %}
