{% extends 'base.html' %}

{% block title %}
    Categories
{%  endblock %}

{% block body %}
    <h1>Categories:</h1>

    <a href="{% url 'category:create' %}">Create Category</a>
    <br>
        <ul>
        {% for category in object_list %}
            <li>
                <a href="{% url 'category:detail' pk=category.id %}">
                    {{ category }}
                </a>

                <a href="{% url 'category:update' pk=category.id %}">
                   || update
                </a>

                <a href="{% url 'category:delete' pk=category.id %}">
                   || delete
                </a>

            </li>
        {% endfor %}
        </ul>

<div class="container">
    {% include "components/back_home.html" %}
</div>

{% endblock %}