{% extends 'base.html' %}

{% block title %}
    Categories
{%  endblock %}

{% block body %}

    <div class="text-center"><h1>Categories:</h1></div>
    <div class="row row-cols-1 row-cols-md-3 g-5 my-1">
        {% for category in object_list %}
            <div class="col">
                <a href="{% url 'category:detail' pk=category.id %}" class="text-decoration-none">
                    <div class="card h-100">
                        <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.title }}" style="width: 500px; height: 350px;">
                        <div class="card-body">
                            <h5 class="card-title text-center" style="font-size: 24px;">{{ category.title }}</h5>
                            <p class="card-text text-center">{{ category.description }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary" style="display: flex; align-items: center; justify-content: center;  ">Created {{ category.created_at }}</small>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>


<div class="container">
    {% include "components/back_home.html" %}
</div>

{% endblock %}