{% extends 'base.html' %}

{% block title %}
    Delete {{ object.name }} ???
{%  endblock %}

{% block body %}

    <h3>Author: {{ comment.author }}</h3>
    <h3>Text: {{ comment.text }}</h3>


Do you confirm the deletion?
<form method="post">
    {% csrf_token %}
    <button type="submit">Yes</button>
    <button type="button" onclick="handleNoClick()">No</button>
</form>

    <script>
        function handleNoClick() {
            window.location.href = '{% url 'comment:list' %}';
        }
    </script>


<a href="{% url 'comment:list' %}">Back to the Comment list</a>

{% endblock %}
