.button56 {
  display: inline-block;
  border-radius: 6px;
  background-color: #e67953;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 11px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button56 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button56 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button56:hover span {
  padding-right: 25px;
}

.button56:hover span:after {
  opacity: 1;
  right: 0;
}