/*
=========================
Button56
=========================
*/

.button56 {
  display: inline-block;
  border-radius: 6px;
  background-color: #ffba00;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  z-index: 100;
}

.button56 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button56 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button56:hover {
  background-color: #e0a800;
  transform: scale(1.05);
}

.button56:hover span {
  padding-right: 25px;
}

.button56:hover span:after {
  opacity: 1;
  right: 0;
}




.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
=========================
Footer
=========================
*/

.site-footer {
    background-color: rgba(0, 0, 0, 0.55);
    color: #d8d8d8;
    padding: 45px 0;
    width: 100%;
}

.site-footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.site-footer h6 {
    color: #fdfdfd;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: #d8d8d8;
    text-decoration: none;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: underline;
}

.site-footer .footer-links {
    padding: 0;
    list-style: none;
}

.site-footer .footer-links li {
    display: block;
}

.site-footer .footer-links a {
    color: #d8d8d8;
}

.site-footer .footer-links a:hover {
    color: #ec4369;
}

.site-footer .social-icons {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.site-footer .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.site-footer .social-icons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #efefef;
    color: #fff;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.site-footer .social-icons li a img {
    width: 35px;
    height: 35px;
}

.site-footer .social-icons li a:hover {
    background-color: #ec4369;
    color: #fff;
}

@media (max-width: 991px) {
    .site-footer .footer-content {
        padding: 0 30px;
    }
}

@media (max-width: 767px) {
    .site-footer .footer-content {
        padding: 0 15px;
    }
}



/*
=========================
Cards
=========================
*/


:root {

    font-size: 15px;

    /* Primary */
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;

    /* Fonts */

    --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;

    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;

    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}
:root {
  --surface-color: #e8fbf3;
  --curve: 50;
}

* {
  box-sizing: border-box;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  gap: 2rem;
  margin: 3rem 7vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #305c42;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #32654b;
}

.card__status {
  font-size: .8em;
  color: #184587;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #327553;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}


/*
=========================
Idea Cards
=========================
*/

:root {
  --indent: 0;
}

@media screen and (min-width: 40rem) {
  :root {
    --indent: clamp(1.5rem, 4vw, 2.5rem);
  }
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cardb {
  margin: 2rem;
  display: grid;
    transform: scale(0.75);
    transform-origin: center;
  grid-template-columns:
    var(--indent) calc(3 * var(--indent)) 1fr 1fr calc(2 * var(--indent))
    var(--indent);
  grid-template-rows:
    var(--indent) calc(3 * var(--indent)) 1fr calc(2 * var(--indent))
    var(--indent);
  max-width: 80rem;
}

.cardb::before {
  content: "";
  display: block;
  background: #e8fbf3;
  background-size: cover;
  grid-column: 2/-1;
  grid-row: 2/-1;
  box-shadow: 0 0 2rem hsla(0, 0%, 0%, 0.1);
}

.cardb::after {
  content: "";
  display: block;
  background: #e8fbf3;
  grid-column: 1/-2;
  grid-row: 1/-2;
  z-index: -1;
}

.cardb img {
  grid-column: 4/5;
  grid-row: 3/4;
  box-shadow: 0 0 1rem hsla(221, 96%, 55%, 0.91);
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.cardb figcaption {
  grid-column: 3/5;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
}

.cardb blockquote {
  grid-column: 1/3;
  margin: 0;
  padding-bottom: 1rem;
  /* font-size: clamp(2rem, 2.5vw, 3rem); */
  font-size: 3rem;
  font-weight: 100;
  align-self: flex-end;
}

.cardb cite {
  grid-column: 1/2;
  font-size: 1.3rem;
  font-weight: 100;
  font-style: normal;
}

.cardb .credit {
  grid-column: 2/4;
  place-self: flex-end;
  margin: 0;
  padding: 1rem;
  text-align: end;
  color: #ea1616;
  font-weight: 400;
}

.cardb a {
  color: #e82929;
}

.btn {
    position: relative;
    z-index: 100;
}

/*
=========================
Like & Dislike button
=========================
*/


.like-dislike-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.like-button, .dislike-button {
    text-decoration: none;
    color: #555;
    font-size: 24px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 5px;
    transition: color 0.3s;
}

.like-button:hover, .dislike-button:hover {
    color: #e0245e;
}

.like-icon, .dislike-icon {
    position: relative;
    font-size: 20px;
    transition: transform 0.3s;
}

.like-button:hover .like-icon, .dislike-button:hover .dislike-icon {
    transform: scale(1.2);
}

.like-count, .dislike-count {
    position: absolute;
    top: -4px;
    right: -8px;
    background-color: #e0245e;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.like-button:hover .like-count, .dislike-button:hover .dislike-count {
    background-color: #c81e4a;
}

.dislike-button {
    color: #555;
}

.dislike-button:hover {
    color: #3b5998;
}

.dislike-count {
    background-color: #3b5998;
}

.dislike-button:hover .dislike-count {
    background-color: #2d4373;
}





