{% extends 'base.html' %}

{% block title %}
    My Followers
{%  endblock %}

{% block body %}

<p>My Followers:
    <br>
    {% for follower in request.user.follower.all %}
        <li>{{ follower.following.first_name }} {{ follower.following.last_name }}
        <strong><small><a href="{% url 'users:profile' pk=follower.following.id %}" style="text-decoration: none">@{{ follower.following.username }}</a></small></strong>
        </li>
    {% endfor %}
</p>
<br>

<p>I'm Following:
    {% for followed in request.user.following.all %}
        <li>{{ followed.follower.first_name }} {{ followed.follower.last_name }}
            <strong><small><a href="{% url 'users:profile' pk=followed.follower.id %}" style="text-decoration: none">@{{ followed.follower.username }}</a></small></strong>
            <a href="{% url 'users:following' followed.follower.id %}?next=users:following" style="text-decoration: none; margin-left: 10px;">
                <img src="/media/social_media/unfollowuser.png" width="26px" height="26px">
            </a>
        </li>
    {% endfor %}
</p>

<br>
<br>
<a href="{% url 'index' %}">Back Home page</a>

{% endblock %}