{% extends 'base.html' %}

{% block title %}
    My Investments
{%  endblock %}

{% block body %}

<h3 style="text-transform: uppercase">My Investments</h3>

{% for investor in user_investments %}
            <ul>
                <li>
                    <small>
                        Payment id: {{ investor.payment_id }}<br>
                        Amount: <strong>{{ investor.amount }} RUB</strong><br>
                        Description: {{ investor.description }}<br>
                        Paid:
                        {% if investor.paid %}
                            <span style="color: #6ecc4b">{{ investor.paid }}</span><br>
                        {% else %}
                            <span style="color: #f45a5a">{{ investor.paid }}</span><br>
                        {% endif %}

                        Payment method: {{ investor.payment_method }}<br>
                        Status:
                        {% if investor.status == "pending" %}
                            <span style="color: #efef7c">{{ investor.status }}</span><br>
                        {% elif investor.status == "succeeded" %}
                            <span style="color: #6ecc4b">{{ investor.status }}</span><br>
                        {% elif investor.status == "waiting_for_capture" %}
                            <span style="color: #5c72f8">waiting_for_capture -{{ investor.status }}</span><br>
                        {% else %}
                            {{ investor.status }}<br>
                        {% endif %}
                    </small>
                </li>
            </ul>

        {% endfor %}

<br>
<br>
<a href="{% url 'index' %}">Back Home page</a>

{% endblock %}