{% extends 'base.html' %}

{% block title %}
    My Partnerships
{%  endblock %}

{% block body %}

<h3 style="text-transform: uppercase">My Partnerships</h3>


{% for co_author_idea in co_author_ideas %}
    <ul>
        <li>Idea: <a href="{% url 'ideas:detail' pk=co_author_idea.idea.id %}" style="text-decoration: none">{{ co_author_idea.idea.title }}</a></li>
        <li>Description: {{ co_author_idea.idea.description }}</li>
        <li>Role: {{ co_author_idea.role }}</li>

        <form method="post" action="{% url 'partnership:stop_being_coauthor' pk=co_author_idea.idea.id %}?next=users:partnerships">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning mb-5">Stop being Co-Author</button>
        </form>
    </ul>
{% endfor %}

<br>
<br>
<a href="{% url 'index' %}">Back Home page</a>

{% endblock %}