{% extends 'base.html' %}

{% block title %}
    {% if request.user.id == user.id %}
        Your Profile
    {% else %}
        {{ object.username }}'s Profile
    {% endif %}

{%  endblock %}

{% block body %}

{% load user_tags %}

<h1 style="text-transform: uppercase">{{ object.username }} Profile
    {% if object|check_in_group:"Admin" %}
        <img src="/media/user_groups/admin.png" alt="admin" width="40" height="40">
    {% endif %}
</h1>
<img src="{{ object.avatar.url }}" alt="Avatar" width="120" height="120" class="m-3">

{% if request.user.id == user.id %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.as_p }}

        <div class="d-grid mx-auto">
            <button type="submit" class="button56">Update</button>
        </div>
    </form>
{% else %}
    <p>Username: {{ object.username }}</p>
    <p>First Name: {{ object.first_name }}</p>
    <p>Last Name: {{ object.last_name }}</p>
    <p>Email: {{ object.email }}</p>
    <p>Age: {{ object.age }}</p>

    <br>
    <a href="#">Follow</a>
    <br>
    <p>Following:
        {% for follower in object.follower.all %}
            <li>{{ follower.following }}</li>
        {% endfor %}
    </p>
    <br>

    <p>Followers:
        {% for following in object.following.all %}
            <li>{{ following.follower }}</li>
        {% endfor %}
    </p>
    <br>

{% endif %}

<br>
{% if request.user.id == user.id %}
    <h3 style="text-transform: uppercase">Your Ideas</h3>
{% else %}
    <h3 style="text-transform: uppercase">{{ object.first_name }}'s Ideas</h3>
{% endif %}

<br>

{% for idea in ideas %}
    <li><a href="{% url 'ideas:detail' pk=idea.pk %}">{{ idea.title }} -- {{ idea.description }}</a></li>
{% endfor %}
<br>
<br>
<a href="{% url 'index' %}">Back Home page</a>

{% endblock %}