{% extends 'base.html' %}

{% block title %}
    {% if request.user.id == user.id %}
        Your Profile
    {% else %}
        {{ object.username }}'s Profile
    {% endif %}

{%  endblock %}

{% block body %}

{% load user_tags %}

<h1 style="text-transform: uppercase">{{ object.username }} Profile

    {% if object|check_in_group:"Admin" %}
        <img src="/media/user_groups/admin.png" alt="admin" width="40" height="40">
    {% endif %}

    {% if request.user != user %}
        {% if check %}
            <a href="{% url 'users:following' user.id %}?next=users:profile" style="text-decoration: none; margin-left: 15px;">
                <img src="/media/social_media/unfollowuser.png" alt="follow" width="50" height="50">
            </a>
        {% else %}
            <a href="{% url 'users:following' user.id %}?next=users:profile" style="text-decoration: none; margin-left: 15px;">
                <img src="/media/social_media/followuser.png" alt="follow" width="50" height="50">
            </a>
        {% endif %}
    {% endif %}
</h1>
<img src="{{ object.avatar.url }}" alt="Avatar" width="120" height="120" class="m-3">

{% if request.user.id == user.id %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.as_p }}

        <div class="d-grid mx-auto">
            <button type="submit" class="button56">Update</button>
        </div>
    </form>
{% else %}
    <p>Username: {{ object.username }}</p>
    <p>First Name: {{ object.first_name }}</p>
    <p>Last Name: {{ object.last_name }}</p>
    <p>Email: {{ object.email }}</p>
    <p>Age: {{ object.age }}</p>

    <br>

    <br>
    <p>{{ user.first_name }}'s Followers:
        {% for following in object.follower.all %}
            <li><strong>{{ following.following.first_name }} {{ following.following.last_name }}</strong>
            <small>@{{ following.following.username }}</small></li>
        {% endfor %}
    </p>
    <br>

    <p>Followed:
        {% for followers in object.following.all %}
            <li><strong>{{ followers.follower.first_name }} {{ followers.follower.last_name }}</strong>
            <small>@{{ followers.follower.username }}</small></li>
        {% endfor %}
    </p>
    <br>

{% endif %}

<br>
{% if request.user.id != user.id %}
    <h3 style="text-transform: uppercase">{{ object.first_name }}'s Ideas</h3>
    <br>
    {% for idea in ideas %}
        <li><a href="{% url 'ideas:detail' pk=idea.pk %}">{{ idea.title }} -- {{ idea.description }}</a></li>
    {% endfor %}
{% endif %}

<br>

<a href="{% url 'index' %}">Back Home page</a>

{% endblock %}