{% extends 'base.html' %}

{% block title %}
    BrainWave
{%  endblock %}

{% block body %}

<div>

    <div class="text-center">
        <h2><a href="{% url 'ideas:create' %}" style="text-decoration: none; color: white;">CREATE YOUR OWN IDEA</a></h2>
    </div>
    <br>

    <div class="my-5 mx-5 text-center">
        <h4>Help others to implement their Ideas
        <br>Start from exploration of all the Ideas and become Co-Authors or Investor
        <br>Create your own Idea if you have any</h4>
    </div>

    <br>
    <div class="container text-center">
        <h3>Categories</h3>
        {% include "components/categories_card.html" %}
    </div>

    <br>
    {% include "components/filter.html" %}

    <div class="container text-center">
        <h3>Users Ideas</h3>
        {% include "components/ideas_card.html" %}
    </div>
</div>

{% endblock %}