<div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Доступ запрещен</h4>
                </div>
                <div class="modal-body">
                    <p>У вас нет прав доступа к этому ресурсу.</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'index' %}" class="btn btn-secondary">Close</a>
                </div>
            </div>
        </div>
    </div>