<style>
    #carouselExampleCaptions {
      width: 1400px !important;
      height: 200px !important;
    }

    #carouselExampleCaptions .carousel-inner {
      height: 200px !important;
    }

    #carouselExampleCaptions .carousel-item img {
      height: 200px !important;
      object-fit: cover !important;
    }
  </style>


<div class="d-flex justify-content-center">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for category in categories %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner" style="height: 400px;">
      {% for category in categories %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ category.image.url }}" class="d-block w-100" alt="{{ category.title }}">
          <a href="{% url 'category:detail' category.id %}" style="text-decoration: none;">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-bg-light">{{ category.title }}</h5>
              <p class="text-bg-light">{{ category.description }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>