<style>
.filter-container select {
    width: 300px;
    padding: 5px;
    border: 2px solid #119ae4;
    border-radius: 5px;
}


.filter-container > * {
    margin-right: 5px;
    color: black;
}

.btn-full-width {
  width: 100%;
  display: block;
}

.btn.btn-success {
    padding: 2px 10px;
    width: 100px;
    height: 40px;
    font-size: 12px;
    margin-top: 50px;
    color: #ffffff;

.form-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
}

</style>

<div class="container my-4">
    <!-- Filter button -->
    <button class="btn btn-primary btn-full-width" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">
      Filters
    </button>

    <!-- Filters -->
    <div class="collapse mt-3" id="filters">
      <div class="card card-body">
        <form method="GET" action="{% url 'index' %}">
          <div class="d-flex filter-container">

            <!-- Category filter -->
            <div class="mb-3 flex-grow-1">
              <label for="categoryFilter" class="form-label">Category</label>
              <select class="form-select" id="categoryFilter" name="category">
                <option value="" {% if not request.GET.category %}selected{% endif %}>All Categories</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>{{ category.title }}</option>
                {% endfor %}
              </select>
            </div>

            <!-- Status filter -->
            <div class="mb-3 flex-grow-1">
              <label for="statusFilter" class="form-label">Status</label>
              <select class="form-select" id="statusFilter" name="status">
                <option value="" {% if not request.GET.status %}selected{% endif %}>All Statuses</option>
                {% for status in statuses %}
                    <option value="{{ status.status }}" {% if request.GET.status == status.status %}selected{% endif %}>{{ status.status }}</option>
                {% endfor %}
              </select>
            </div>

             <!-- Sort By -->
            <div class="mb-3 flex-grow-1">
              <label for="sortFilter" class="form-label">Sort By</label>
              <select class="form-select" id="sortFilter" name="sort">
                <option value="" {% if not request.GET.sort %}selected{% endif %}>Sort by</option>
                <option value="1" {% if request.GET.sort == '1' %}selected{% endif %}>Most Liked</option>
                <option value="2" {% if request.GET.sort == '2' %}selected{% endif %}>Most Commented</option>
                <option value="3" {% if request.GET.sort == '3' %}selected{% endif %}>Date ↑</option>
                <option value="4" {% if request.GET.sort == '4' %}selected{% endif %}>Date ↓</option>
              </select>
            </div>

                <!-- Co-Authors filter -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="coAuthorsFilter" name="co_authors" {% if request.GET.co_authors %}checked{% endif %}>
                        <label class="form-check-label" for="coAuthorsFilter">
                            Co-Authors
                        </label>
                    </div>

                <!-- Investors filter -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="investorsFilter" name="investors" {% if request.GET.investors %}checked{% endif %}>
                        <label class="form-check-label" for="investorsFilter">
                            Investors
                        </label>
                    </div>
                </div>

            <!-- Apply Filter button -->
            <button type="submit" class="btn btn-success">Apply Filters</button>
          </div>
        </form>
      </div>
    </div>
</div>
