<!-- Site footer -->
<footer class="site-footer">
    <div class="footer-content">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">BrainWave - <i>YOUR HUB</i> for idea exploration and exchange! Here, you can register your creative concepts, find co-authors and investors to bring them to life, rate ideas from the community, and receive feedback from experienced users. Join our community and turn your thoughts into reality!</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="#">Link#1</a></li>
                    <li><a href="#">Link#2</a></li>
                    <li><a href="#">Link#3</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Link#3</a></li>
                    <li><a href="#">Link#4</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2024</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/artyomnb"><img src="/media/social_media/facebook.png" alt="facebook;"></a></li>
                    <li><a class="telegram" href="https://t.me/artyombn"><img src="/media/social_media/telegram.png" alt="telegram;"></a></li>
                    <li><a class="gmail" href="mailto:balabashinan@gmail.com"><img src="/media/social_media/gmail.png" alt="gmail;"></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/artembn"><img src="/media/social_media/linkedin.png" alt="linkedin;"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
