<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href='{% url 'index' %}'>BrainWave</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link" href='{% url 'ideas:list' %}'>Ideas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{% url 'category:list' %}'>Categories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href='{% url 'category:list' %}'>Investments</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href='{% url 'category:list' %}'>Partnerships</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href='{% url 'category:list' %}'>Leaderboard</a>
                </li>

                {% if request.user.is_authenticated and request.user.is_staff %}
                    {% include 'components/navbar_dropdown.html' %}
                {% endif %}

                <div class="d-flex align-items-center" style="margin-top: auto; margin-left: 60px;">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 600px">
                        <button class="btn btn-outline-success  me-5" type="submit">Search</button>
                    </form>
                </div>
            </ul>
        </div>


        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item text-light me-lg-3 my-1">
                    <a href="{% url 'users:profile' request.user.id %}" style="text-decoration: none; color: white;"><img src="{{ request.user.avatar.url }}" alt="Аватар" width="40" height="40">{{ request.user.username }}

                        {% load user_tags %}

                        {% if request.user|check_in_group:"Admin" %}
                            <img src="/media/user_groups/admin.png" alt="admin" width="20" height="20">
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item me-lg-2">
                    <form method="post" action='{% url 'users:logout' %}'>
                        {% csrf_token %}
                        <button type="submit" class="btn56" style="align-content: center;">Logout</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'users:register' %}" class="nav-link">Sign up</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'users:login' %}" class="nav-link">Sign in</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
