<li class="nav-item dropdown">
    <a class="nav-link" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="display: flex; align-items: center;">
        <img src="{{ request.user.avatar.url }}" alt="Аватар" width="40" height="40" style="border-radius: 50%;">
        <span style="margin-left: 10px; color: white;">{{ request.user.username }}</span>

        {% load user_tags %}

        {% if request.user|check_in_group:"Admin" %}
            <img src="/media/user_groups/admin.png" alt="admin" width="20" height="20" style="margin-left: 5px;">
        {% endif %}
    </a>

    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'users:profile' pk=request.user.id %}">Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'direct:messages' %}">Messages</a></li>
        <li><a class="dropdown-item" href="{% url 'users:user_ideas' pk=request.user.id %}">Ideas</a></li>
        <li><a class="dropdown-item" href="{% url 'users:followers' pk=request.user.id %}">Followers</a></li>
        <li><a class="dropdown-item" href="{% url 'users:partnerships' pk=request.user.id %}">Partnerships</a></li>
        <li><a class="dropdown-item" href="{% url 'users:investments' pk=request.user.id %}">Investments</a></li>
        <li><a class="dropdown-item" href="{% url 'users:favourites' pk=request.user.id %}">Favourite Ideas</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'notifications:show-notifications' %}">Notifications&Requests</a></li>

    </ul>


</li>
